html {    height: 100%}
/*#section0>div{      margin-top: 80px;}*/
@font-face {  font-family: 'Helvetica LT Std-light';   src:  url('../fonts/HelveticaLTStd-Light.otf') format('truetype');}
@font-face {  font-family: 'Helvetica LT Std-bold';      src:  url('../fonts/HelveticaLTStd-Bold.otf') format('truetype');}
.no-sidePadding{  padding-left: 0px;  padding-right: 0px;}

  .resulioHeading>h1{  color: #fff;  font-size: 70px;  font-style: italic;  font-weight: 100;}
.resulioHeading>h5{  color: #edeae7;  font-size: 30px;  font-style: italic;  font-weight: 100;  padding-bottom: 40px;}
.resulioImage,.aboutImageContent>img{  max-width: 100%;}
.resulioImage{    margin-right: -20%;}
.aboutField,.aboutImage, .featureImage,.screenshotsField,.downloadField,.subscribeField{
  height: 100%;  display: table;  text-align: center;
}
.aboutContent,.featureField,.FeatureContent,.screenshotsContent,.downloadContent,.homeImageContent,.aboutImageContent,.FeatureImageContent{  display: table-cell;  vertical-align: middle;}
.aboutContent{  padding: 50px;}
.resulioAbout>h5{  text-align: justify;  font-size: 20px;   color: #153443;   font-family: 'Helvetica LT Std-light';}
.resulioAbout>h1{  text-align: left;  font-size: 45px;  padding-bottom: 50px;  color: #153443;    font-family: 'Helvetica LT Std-light';}
.featureField{    text-align: center;    color: white;    width: 60%;    font-family: 'Helvetica LT Std-light';}
#section2{  text-align: center;}
.downloadContent{  padding: 10px;}
.downloadContent>h1{  color: #fff;  font-family: 'Helvetica LT Std-light';  padding-bottom: 15px;}
.subscribeContent{   font-family: 'Helvetica LT Std-light';    padding-top: 5%;}
.FeatureContent>h1{  font-size: 50px;  font-family: 'Helvetica LT Std-light';  position: absolute;  top: 5%;  left: 40%;  color: #fff;}
#section5{  background-image: url('../images/contact-us background.png');  background-repeat: no-repeat;    
      font-family: 'Helvetica LT Std-light';}
.homeSection,#section2{  background-image: url('../images/background-home.png');  background-repeat: no-repeat;  }
.screenshotsContent>h5{  padding: 25px 150px;   font-family: 'Helvetica LT Std-light';}
.screenshotsContent>h1{    font-family: 'Helvetica LT Std-light';}
.downloadField{  height: 25%;  text-align: center;  background-image: url('../images/background-home.png');   background-repeat: no-repeat;
 }
 .subscribeField{  height: 60% }
 .subscribeContent>h1,.subscribeContent>h5{  padding-bottom: 18px; }
 .subscribeContent>div{ padding: 10px; }
 .subscriptionText{  width: 30%;  padding: 10px;  border-radius: 5px;   border: 1px solid; }
 .subscriptionButton{  padding: 10px 20px;   border-radius: 5px;    border: 1px solid #023638; background-color: #023638; color: #fff; }
 .downloadContentImage{   max-width: 12%; }
 .resulioImage{  float: right; }
 .FeatureImageContentImage{  max-width: 160%;      margin-left: -55%; }
 .downloadAppButton{  max-width: 30%; }
 .AwesomeDesign{  padding-top: 30px; }
 .emailContact,.subjectContact,.msgContact{  width: 88%;  padding: 10px;  border-radius: 2px;   border: 1px solid #fff; }
 .msgContact{  height: 200px; }
 .homeRresulioImage{  max-width: 65%; }
 .contactDetailContentValue>h5,.contactDetailContent>h1{  color: #fff; }
 .contactDetailContent>h1{  font-size: 25px; }
 .contactDetailContent>h1{  padding-bottom: 15px; }
.contactDetailContentField{  padding: 10px 0px;}
 .contactDetailContent{  margin-top: -25px; }
 .contactHeading>h1{  color: #fff;  font-size: 45px; }
 .contactHeading{ text-align: center; padding:30px;}
.sendMsgButton{      padding: 15px 20px;   border-radius: 5px;    border: 1px solid #023638; background-color: #023638; color: #fff;}
.socialLnkImg{  max-height: 45px;}
.videoFrame{   max-width: 40%;}
.featureDetails{height:100%;display: table;}
.homeHeadingex{    text-align: center;}
.homeContentex{top: 50%}
.resulioHeadingex{}
.homeRresulioImageex{       max-width: 65%;}
.resulioHeadingContentex{color: #edeae7;  font-size: 30px;  font-style: italic;  font-weight: 100;   padding-bottom: 40px;}
.resuliodownloadAppex{}
.downloadAppButtonex{    max-width: 30%;}
.resulioImageex{max-width: 115%;float: right;margin-right: -15%}
/*********************/
.homeImageex,.homeHeadingex{height: 100%;display: table; left: 0%}
.homeImageContentex,.homeContentex{display: table-cell;vertical-align: middle;}
.featureField>div>div.para2>img{      margin-top: -5%;}
.subjectContact,.msgContact,.sendMsgButton{margin-top: 10px;}
@media (min-width: 1500px){
   #section5{background-size: 100% 100%}
   .homeSection, #section2 {background-size: 100% 100%}
   .downloadField {background-size: 100%}
}
@media (max-width: 1500px){
 #section5{background-size: 1510px 100%}
 .homeSection, #section2 {background-size: 1510px 100%}
   .downloadField {background-size: 100%}
}
@media (max-width: 1200px){
  #section5{  background-position-x: -250px;}
.contactDetailContentValue{margin-left: 5%}
}
@media (max-width: 950px){
  #section5{  background-position-x: -450px; background-size: 1610px 100%;}
}

@media (max-width: 1140px){
.resulioAbout>h1 {    text-align: center;    font-size: 35px;    padding-bottom: 10px;}
.featureField>div>div>img{max-width: 10%}
.featureField>div>div>h1{    margin-top: 10px;font-size: 15px;}
.featureField>div>div>h5{font-size: 12px;}
}
@media (max-width: 1040px){  
.resulioAbout>h1 {    text-align: center;    font-size: 35px;    padding-bottom: 10px;}
.resulioAbout>h5 {    font-size: 18px;}
}
@media (max-width: 1040px){
  .resulioAbout>h1 {    text-align: center;    font-size: 30px;    padding-bottom: 10px;}
.resulioAbout>h5 {    font-size: 15px;}
}
@media (max-width: 770px){
  .resulioImage{  margin-right: 0%; }
}
@media (min-width: 767px){
   .section{ margin-top: 70px}
}
@media (max-width: 767px){
   .section{ margin-top: 50px}
   #section4{margin-top: 10px}
  #section5{  background-position-x: -500px;}
    #section5 {    background-size: 1610px 100%;}
  .homeHeading,.homeImage{    height: 40%;       top: -5%; }
  .aboutField{top: -5%;height: 40%; }
  .aboutImage{height: 32%;   }
  .homeRresulioImage {    max-width: 50%;}
  .resuliodownloadApp {position: absolute;    margin-top: -25px;}
  #section2{margin-top: 25px}
.contactDetailContent>h1{text-align: center;}
  .resulioImage {    float: none;}
  .downloadAppButton {    max-width: 20%;}
  .aboutImage,.homeImage{width: 100%}
.aboutImageContent>img {    max-width: 30%;}
.aboutContent {    padding: 20px;}
.resulioAbout>h1 {    text-align: center;    font-size: 35px;    padding-bottom: 10px;}
.resulioAbout>h5 {    font-size: 15px;}
.featureImage,.featureDetails{height: 0%;width: 100%;}
.FeatureImageContentImage {    max-width: 40%;     margin-left: 0%;     padding-top:40px;}
.FeatureContent>h1 {top: -5%;    font-size: 35px;}
.featureField>div,.featureField>div>div{padding: 5px}
.featureField>div>div>img{max-width: 5%}
.featureField>div>div>h1{    margin-top: 10px;font-size: 15px;}
.featureField>div>div>h5,.screenshotsContent>h5{font-size: 12px;text-overflow: ellipsis;   width: 100%;      overflow: hidden;}
.featureField>div>div.col-sm-6{    width: 50%;}
.featureField>div>div.para2{position: absolute;left: 50%;    top: 4%; }
#section2,#section1{    display: flex;}
.screenshotsContent{display: block;    margin-top: -3%;}
.videoFrame{    max-width: 80%;}
.screenshotsContent>h5 {    padding: 25px 50px;}
.downloadField {top: -5%}
.subscribeField{display: block;}
#section5{margin-top: 5px}
.contactHeading{    padding-top: 20px;    padding-bottom: 5px;}
.contactHeading>h1 {font-size: 35px;}
#section5>div.fp-tableCell{    display: block;   }
.contactField{text-align: center;}
.contactDetailContentImg>img{max-width: 15px}
.homeContentex{top: 50%}
.resulioHeadingex{}
.homeRresulioImageex{       max-width: 25%;}
.resulioHeadingContentex{color: #edeae7;  font-size: 22x;  font-style: italic;  font-weight: 100;   padding-bottom: 20px;}
.resuliodownloadAppex{}
.downloadAppButtonex{    max-width: 20%;}
.homeImageex,.homeHeadingex{left: 0%;    height: 0%;top: -8%;}
.homeHeadingex{    text-align: center;top: -10%}
.homeImageContentex{    text-align: center;}
.resulioImageex{max-width: 65%; float: none;    margin-right: 0%;}
.msgContact {    height: 60px;}
.sendMsgButton {    padding: 10px 10px;}
.contactDetailContent>h1 {    padding-top: 15px;padding-bottom: 0px; }
.contactDetailContentValue>h5{    margin: 5px 0px;}
.subscriptionText {width: 100%}
.subscriptionButton {margin-top: 10%}
.contactDetailContent {     margin-top: 0px;    padding: 0px 18px; }
.contactDetailContentField { display: flex;    padding: 5px 0px;}
.contactDetailContent>h1 {  font-size: 18px;}

}
@media (max-width: 520px){
  .featureField>div>div.para2{  position: relative; }
  .featureField>div>div.para1,.featureField>div>div.para2{     width: 100%;   }
   .featureField>div>div.para2{         left: 0%;  } 
      .downloadContent {   display: block;}
      .aboutImageContent{display: block;}
      .aboutImage {    height: 20%;}
      #section5{  background-position-x: -750px;}
      .downloadContentImage {    max-width: 22%;}
      .featureField>div>div>img {    max-width: 8%;}
    
}
@media (max-width: 430px){ 
      #section5{  background-position-x: -850px;}
}
@media (max-width: 390px){
  #section5{  background-position-x: -900px;}
  .aboutImage {    height: 10%;}
  .resulioAbout>h1 {     font-size: 17px;    padding-bottom: 10px;}
  .resulioAbout>h5 {    font-size: 13px;}
  .contactHeading>h1 { font-size: 25px;}
  .contactDetailContent>h1 {  font-size: 18px;}  
  #section5 {   background-size: inherit; }  
}
@media (max-width: 380px){     
        .contactDetailContentValue>h5{font-size: 10px}
}
@media (max-height: : 700px){
  .contactDetailContentField {    padding: 2px 0px;}
 }


